.checkout-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 3em 0 3em 0;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image-section img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.quantity-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity-controls button{
  font-size: 16px;
  margin: 10px 0 10px 0;
  padding: 0 0.5em;
  background: var(--orange-color);
  font-family: "Poppins";
  font-style: normal;
  color: var(--white-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}
.rem{
  border-radius: 10px 0 0 10px;
}
.add{
  border-radius: 0 10px 10px 0;
}
.quantity-controls span{
  font-size: 16px;
  padding: 0 15px;
  background: var(--orange-color);
  font-family: "Poppins";
  font-style: normal;
  color: var(--white-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.info-section {
  flex: 2;
  padding: 2em;
}

.info-section span {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 800;
}

.info-section p {
  font-size: 14px;
  color: #777;
}

.delivery-section {
  flex: 1;
}
.delivery-section span {
  font-size: 16px;
  font-weight: 800;
  margin-top: 1em;
}
.delivery-section p:first-child {
  font-size: 16px;
  font-weight: 800;
}

.remove-section {
  flex: 1;
  text-align: center;
}

.trash-icon {
  font-size: 20px;
  cursor: pointer;
}
