.cart-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-items-container {
  margin-top: 20px;
}

.proceed-button {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0 10em 0;
  width: 80%;
}

.proceed-button button {
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  padding: .5em 1em;
  background: var(--orange-color);
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  color: var(--white-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.proceed-button button:hover {
  background-color: var(--orange-dark);
}

.empty-cart-message {
  margin-top: 20px;
}
