.top_detail_box_homebanner1 {
  text-decoration: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    80.76deg,
    #e3e9e3 46.49%,
    rgba(227, 233, 227, 0) 99.49%
  );
  border-radius: 4px;
}

.top_detail_box_homebanner1 h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--black-color);
}

.top_detail_box_homebanner1 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-color);
}
.top_detail_left_section_homebanner1 {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  align-items: flex-start;
}

.primary_btn_homebanner1 {
    background: var(--header-bg);
    box-shadow: 7.33333px 7.33333px 27.5px rgba(0, 0, 0, 0.25);
    border-radius: 84.3333px;
    margin-top: 20px;
    padding: 8px 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border: none;
    color: var(--white-color);
    cursor: pointer;
  }

.top_detail_right_section_homebanner1 {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .top_detail_right_section_homebanner1 img {
    width: 260px;
    height: 260px;
  }
@media screen and (max-width: 490px) {
  .top_detail_left_section_homebanner1 {
    padding-left: 10px;
  }

  .top_detail_box_homebanner1 h4,
  .middle1_detail_upper_section_homebanner1 h4 {
    font-size: 20px;
    line-height: 23px;
  }

  .top_detail_box_homebanner1 p,
  .middle1_detail_upper_section_homebanner1 p {
    font-size: 13px;
  }

  .primary_btn_homebanner1 {
    font-size: 13px;
}

.top_detail_right_section_homebanner1 img {
    width: 145px;
    height: 160px;
}
}
@media screen and (max-width: 650px) {
  .top_detail_box_homebanner1 {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .top_detail_box_homebanner1 h4,
  .middle1_detail_upper_section_homebanner1 h4 {
    font-size: 21px;
    line-height: 24px;
  }

  .top_detail_box_homebanner1 p,
  .middle1_detail_upper_section_homebanner1 p {
    font-size: 14px;
    line-height: 17px;
  }

  .top_detail_left_section_homebanner1 {
    padding-left: 15px;
  }

  .top_detail_right_section_homebanner1 img {
    width: 100px;
    height: 100px;
}
}

@media screen and (max-width: 1200px) {
  .top_detail_box_homebanner1 h4,
  .middle1_detail_upper_section_homebanner1 h4 {
    font-size: 23px;
    line-height: 26px;
  }

  .top_detail_box_homebanner1 p {
    font-size: 15px;
    line-height: 18px;
  }
}
