.account-page {
    margin: 20px auto 20px auto;
    width: 80%;
  }
  
  .account-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .account-page .label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    align-items: center;
  }
  .address {
    display: flex;
    align-items: center;
  }
  .account-page input[type="text"],
  .account-page input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px;
    font-family: Poppins;
    font-weight: 400;
  }
  
  .account-page pre {
    margin: 0;
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
  }
  
  .account-page button {
    font-size: 16px;
    margin: 10px;
    padding: 5px 20px;
    background: var(--orange-color);
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    color: var(--white-color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  
  .account-page button:hover {
    background-color: var(--orange-dark);
  }
  
  .account-page button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .all_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .edit {
    display: flex;
    justify-content: flex-end;
  }
  
  .account-page .address-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .account-page .address-item button {
    margin-left: 10px;
  }
  .trash-icon {
    margin: 2em;
    cursor: pointer;
  }
  