.signup-page {
  display: flex;
  align-items: flex-start;
}
.signup-logo{
  height: 5em;
  width: 15em;
  margin: 0 5em 5em 5em;
}
.signup-form .label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  align-items: center;
  width: 25em;
}
.signup-form h1 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 5px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
}

.signup-form input[type="email"]::placeholder,
.signup-form input[type="password"]::placeholder {
  color: #888888;
}

.signup-form button[type="submit"] {
  font-size: 20px;
  font-weight: 600;
  width: 13em;
  margin: 10px;
  padding: .5em 1em;
  background: var(--orange-color);
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  color: var(--white-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.signup-form .error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.signup-form {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-image{
  width: 50%;
  margin-right: 0;
}
.end {
  margin-top: 20em;
}
.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link p {
  display: inline-block;
  margin-right: 5px;
}

.login-link a {
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .signup-page {
    justify-content: center;
  }

  .signup-logo {
    margin: 0 auto 2em auto;
  }

  .signup-form {
    width: 80%; 
  }

  .signup-form .label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    align-items: center;
    width: 100%;
  }
  .signup-image {
    display: none;
  }
  .end {
    display: none;
  }
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    max-width: 300px;
    margin: 0 auto;
  }
}