*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  width : 100%;
  font-family: Poppins;
}

:root{
  --white-color: #fff;
  --black-color: #000;
  --header-bg: #7D7F3C;
  --background-secondary: #E3E9E3;
  --yellow-color: #d0af22;
  --yellow-light: #DDBC2C;
  --orange-color: #E87A25;
  --orange-dark: #DE6D17;
}